:root {
    color-scheme: light dark;
    --bg: light-dark(#fbf1c7 #282828);
    --panel: light-dark(#d4c5a1 #504945);
    --text: light-dark(#3c3836 #ebdbb2);
}

html,
body {
    margin: 0;
    color: var(--text);
    background-color: var(--bg);
    font-family: Arial, Helvetica, sans-serif;
}

image {
    display: block;
    max-width: 100%;
}
header {
    background-color: var(--panel);
    padding: 1em;
    border-block-end: 4px solid #98971a;
}

.card {
    background-color: var(--panel);
    padding: 1em;
}

button {
    background-color: #98971a;
    color: #ebdbb2;
    width: 100%;
    text-align: center;
    border: none;
    padding: 0.5em;
    cursor: pointer;
}

.songs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;

    @media (width < 750px) {
        grid-template-columns: 1fr;
    }
}

.options-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;

    @media (width < 750px) {
        grid-template-columns: 1fr;
    }
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
